# hot3d dependenceis
numpy
imageio
trimesh
git+https://github.com/facebookresearch/hand_tracking_toolkit
git+https://github.com/vchoutas/smplx.git
git+https://github.com/mattloper/chumpy
matplotlib
scikit-learn
hydra-core
